# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Dart/Flutter files
[*.dart]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 80

# YAML files
[*.{yaml,yml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# JSON files
[*.json]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Gradle files
[*.gradle]
indent_style = space
indent_size = 2

# Kotlin files
[*.kt]
indent_style = space
indent_size = 4

# XML files
[*.xml]
indent_style = space
indent_size = 2





















